
.fade-in{
  animation: fadeIn .5s ease-in;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
  
.tiles{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}
  
  .tile {
    width: calc(50% - 3em);
    background-color: #f5f5f5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 300px;
    margin: 1em auto;
  }
    
    .count {
      position: absolute;
      font-size: .75em;
      top: 0;
      right: 0;
      background-color: #c34d41;
      color: #fff;
      padding: .5em .75em;
      box-shadow: 0 0 3px #222;
    }
    
    h2{
      color: #222;
      margin: 0 2em 0 0;
      font-weight: 600;
    }
      
    p{
      font-size: .9em;
    }
    
.load-more{
  display: block;
  border: 0;
  margin: 1em auto;
  padding: .75em 1em;
  font-size: 1em;
  background-color: #c34d41;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
  
.load-more:focus{
    outline: 1px solid rgba(255, 255, 255, .5);
}
  
  
  
  